# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="file:./dev.db"

GITHUB_API_TOKEN_FINE="<YOUR_GITHUB_API_TOKEN>"

DOCKER_HUB_USERNAME="<YOUR_DOCKER_HUB_USERNAME>"
DOCKER_HUB_TOKEN="<YOUR_DOCKER_HUB_TOKEN>"

SERVER_PORT=8000
SERVER_PROTOCOL_HEADER=X-Forwarded-Proto
SERVER_HOST_HEADER=X-Forwarded-Host
SERVER_ADDRESS_HEADER=X-Forwarded-For
SERVER_ORIGIN=http://localhost:8000